@import "variables";

@font-face {
  font-family: 'voipgrid-icons';
  src:
    url('#{$icomoon-font-path}/voipgrid-icons.ttf?h22uhw') format('truetype'),
    url('#{$icomoon-font-path}/voipgrid-icons.woff?h22uhw') format('woff'),
    url('#{$icomoon-font-path}/voipgrid-icons.svg?h22uhw#voipgrid-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="vg-icon-"], [class*=" vg-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'voipgrid-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.vg-icon-desktop-secure {
  &:before {
    content: unicode($vg-icon-desktop-secure); 
  }
}
.vg-icon-circle-secure {
  &:before {
    content: unicode($vg-icon-circle-secure); 
  }
}
.vg-icon-smartphone-secure {
  &:before {
    content: unicode($vg-icon-smartphone-secure); 
  }
}
.vg-icon-vialer-secure {
  &:before {
    content: unicode($vg-icon-vialer-secure); 
  }
}
.vg-icon-call-notification {
  &:before {
    content: unicode($vg-icon-call-notification); 
  }
}
.vg-icon-user {
  &:before {
    content: unicode($vg-icon-user); 
  }
}
.vg-icon-listen {
  &:before {
    content: unicode($vg-icon-listen); 
  }
}
.vg-icon-filter {
  &:before {
    content: unicode($vg-icon-filter); 
  }
}
.vg-icon-fixeddestination {
  &:before {
    content: unicode($vg-icon-fixeddestination); 
  }
}
.vg-icon-jump {
  &:before {
    content: unicode($vg-icon-jump); 
  }
}
.vg-icon-calender {
  &:before {
    content: unicode($vg-icon-calender); 
  }
}
.vg-icon-call-person {
  &:before {
    content: unicode($vg-icon-call-person); 
  }
}
.vg-icon-case {
  &:before {
    content: unicode($vg-icon-case); 
  }
}
.vg-icon-click-to-dial {
  &:before {
    content: unicode($vg-icon-click-to-dial); 
  }
}
.vg-icon-clipboard {
  &:before {
    content: unicode($vg-icon-clipboard); 
  }
}
.vg-icon-conference {
  &:before {
    content: unicode($vg-icon-conference); 
  }
}
.vg-icon-callgroup {
  &:before {
    content: unicode($vg-icon-callgroup); 
  }
}
.vg-icon-fax {
  &:before {
    content: unicode($vg-icon-fax); 
  }
}
.vg-icon-outgoing-fax {
  &:before {
    content: unicode($vg-icon-outgoing-fax); 
  }
}
.vg-icon-crm-popup {
  &:before {
    content: unicode($vg-icon-crm-popup); 
  }
}
.vg-icon-folder-in {
  &:before {
    content: unicode($vg-icon-folder-in); 
  }
}
.vg-icon-home {
  &:before {
    content: unicode($vg-icon-home); 
  }
}
.vg-icon-mail {
  &:before {
    content: unicode($vg-icon-mail); 
  }
}
.vg-icon-areagroup {
  &:before {
    content: unicode($vg-icon-areagroup); 
  }
}
.vg-icon-setcallrecording {
  &:before {
    content: unicode($vg-icon-setcallrecording); 
  }
}
.vg-icon-notition {
  &:before {
    content: unicode($vg-icon-notition); 
  }
}
.vg-icon-ivr {
  &:before {
    content: unicode($vg-icon-ivr); 
  }
}
.vg-icon-paperclip {
  &:before {
    content: unicode($vg-icon-paperclip); 
  }
}
.vg-icon-person {
  &:before {
    content: unicode($vg-icon-person); 
  }
}
.vg-icon-phone-dial-buttons {
  &:before {
    content: unicode($vg-icon-phone-dial-buttons); 
  }
}
.vg-icon-phone-rings {
  &:before {
    content: unicode($vg-icon-phone-rings); 
  }
}
.vg-icon-pick-up-group {
  &:before {
    content: unicode($vg-icon-pick-up-group); 
  }
}
.vg-icon-phone-mobile {
  &:before {
    content: unicode($vg-icon-phone-mobile); 
  }
}
.vg-icon-recording {
  &:before {
    content: unicode($vg-icon-recording); 
  }
}
.vg-icon-sound {
  &:before {
    content: unicode($vg-icon-sound); 
  }
}
.vg-icon-tag {
  &:before {
    content: unicode($vg-icon-tag); 
  }
}
.vg-icon-variablecallername {
  &:before {
    content: unicode($vg-icon-variablecallername); 
  }
}
.vg-icon-trashcan {
  &:before {
    content: unicode($vg-icon-trashcan); 
  }
}
.vg-icon-voicemail {
  &:before {
    content: unicode($vg-icon-voicemail); 
  }
}
.vg-icon-phoneaccount {
  &:before {
    content: unicode($vg-icon-phoneaccount); 
  }
}
.vg-icon-trunkaccount {
  &:before {
    content: unicode($vg-icon-trunkaccount); 
  }
}
.vg-icon-musiconhold {
  &:before {
    content: unicode($vg-icon-musiconhold); 
  }
}
.vg-icon-queue {
  &:before {
    content: unicode($vg-icon-queue); 
  }
}
.vg-icon-http {
  &:before {
    content: unicode($vg-icon-http); 
  }
}
.vg-icon-sip-analysis {
  &:before {
    content: unicode($vg-icon-sip-analysis); 
  }
}
.vg-icon-extension {
  &:before {
    content: unicode($vg-icon-extension); 
  }
}
.vg-icon-areacode {
  &:before {
    content: unicode($vg-icon-areacode); 
  }
}
.vg-icon-sounds {
  &:before {
    content: unicode($vg-icon-sounds); 
  }
}
.vg-icon-variable {
  &:before {
    content: unicode($vg-icon-variable); 
  }
}
.vg-icon-fixed-mobile {
  &:before {
    content: unicode($vg-icon-fixed-mobile); 
  }
}
.vg-icon-variabledestination {
  &:before {
    content: unicode($vg-icon-variabledestination); 
  }
}
.vg-icon-options {
  &:before {
    content: unicode($vg-icon-options); 
  }
}
.vg-icon-openinghours {
  &:before {
    content: unicode($vg-icon-openinghours); 
  }
}
.vg-icon-call-record {
  &:before {
    content: unicode($vg-icon-call-record); 
  }
}
.vg-icon-caller-id {
  &:before {
    content: unicode($vg-icon-caller-id); 
  }
}
.vg-icon-play-audio {
  &:before {
    content: unicode($vg-icon-play-audio); 
  }
}
.vg-icon-pause-audio {
  &:before {
    content: unicode($vg-icon-pause-audio); 
  }
}
.vg-icon-stop-audio {
  &:before {
    content: unicode($vg-icon-stop-audio); 
  }
}
.vg-icon-arrow-down {
  &:before {
    content: unicode($vg-icon-arrow-down); 
  }
}
.vg-icon-arrow-up {
  &:before {
    content: unicode($vg-icon-arrow-up); 
  }
}
.vg-icon-previous {
  &:before {
    content: unicode($vg-icon-previous); 
  }
}
.vg-icon-next {
  &:before {
    content: unicode($vg-icon-next); 
  }
}
.vg-icon-backward {
  &:before {
    content: unicode($vg-icon-backward); 
  }
}
.vg-icon-forward {
  &:before {
    content: unicode($vg-icon-forward); 
  }
}
.vg-icon-arrow-left {
  &:before {
    content: unicode($vg-icon-arrow-left); 
  }
}
.vg-icon-arrow-right {
  &:before {
    content: unicode($vg-icon-arrow-right); 
  }
}
.vg-icon-desktop {
  &:before {
    content: unicode($vg-icon-desktop); 
  }
}
.vg-icon-smartphone {
  &:before {
    content: unicode($vg-icon-smartphone); 
  }
}
.vg-icon-circle {
  &:before {
    content: unicode($vg-icon-circle); 
  }
}

