$icomoon-font-family: "voipgrid-icons" !default;
$icomoon-font-path: "fonts" !default;

$vg-icon-areacode: "\e629";
$vg-icon-areagroup: "\e611";
$vg-icon-arrow-down: "\e904";
$vg-icon-arrow-left: "\e90a";
$vg-icon-arrow-right: "\e912";
$vg-icon-arrow-up: "\e905";
$vg-icon-backward: "\e908";
$vg-icon-calender: "\e604";
$vg-icon-call-notification: "\e90b";
$vg-icon-call-person: "\e605";
$vg-icon-call-record: "\e63f";
$vg-icon-caller-id: "\e640";
$vg-icon-callgroup: "\e60a";
$vg-icon-case: "\e606";
$vg-icon-click-to-dial: "\e607";
$vg-icon-clipboard: "\e608";
$vg-icon-conference: "\e609";
$vg-icon-crm-popup: "\e60d";
$vg-icon-desktop: "\e901";
$vg-icon-desktop-secure: "\e90c";
$vg-icon-dot: "\e90d";
$vg-icon-dot-secure: "\e90e";
$vg-icon-extension: "\e628";
$vg-icon-fax: "\e60b";
$vg-icon-filter: "\e601";
$vg-icon-fixed-mobile: "\e62c";
$vg-icon-fixeddestination: "\e602";
$vg-icon-folder-in: "\e60e";
$vg-icon-forward: "\e909";
$vg-icon-hangup: "\e911";
$vg-icon-home: "\e60f";
$vg-icon-http: "\e626";
$vg-icon-ivr: "\e614";
$vg-icon-jump: "\e603";
$vg-icon-listen: "\e600";
$vg-icon-mail: "\e610";
$vg-icon-musiconhold: "\e624";
$vg-icon-next: "\e907";
$vg-icon-notition: "\e613";
$vg-icon-openinghours: "\e63e";
$vg-icon-options: "\e62e";
$vg-icon-outgoing-fax: "\e60c";
$vg-icon-paperclip: "\e615";
$vg-icon-pause-audio: "\e902";
$vg-icon-person: "\e616";
$vg-icon-phone-dial-buttons: "\e617";
$vg-icon-phone-mobile: "\e61a";
$vg-icon-phone-rings: "\e618";
$vg-icon-phoneaccount: "\e622";
$vg-icon-pick-up-group: "\e619";
$vg-icon-play-audio: "\e641";
$vg-icon-previous: "\e906";
$vg-icon-queue: "\e625";
$vg-icon-recording: "\e61b";
$vg-icon-setcallrecording: "\e612";
$vg-icon-sip-analysis: "\e627";
$vg-icon-smartphone: "\e90f";
$vg-icon-smartphone-secure: "\e910";
$vg-icon-sound: "\e61c";
$vg-icon-sounds: "\e62a";
$vg-icon-stop-audio: "\e903";
$vg-icon-tag: "\e61d";
$vg-icon-trashcan: "\e61f";
$vg-icon-trialperiod: "\e900";
$vg-icon-trunkaccount: "\e623";
$vg-icon-user: "\e620";
$vg-icon-userdestination: "\e620";
$vg-icon-variable: "\e62b";
$vg-icon-variablecallername: "\e61e";
$vg-icon-variabledestination: "\e62d";
$vg-icon-voicemail: "\e621";

