$vg-icons-path: "font/vg-icons" !default;

@font-face {
    font-family: "voipgrid-icons";
    src: url("#{$vg-icons-path}/voipgrid-icons.eot");
    src: url("#{$vg-icons-path}/voipgrid-icons.eot?#iefix") format("embedded-opentype"),
    url("#{$vg-icons-path}/voipgrid-icons.woff") format("woff"),
    url("#{$vg-icons-path}/voipgrid-icons.ttf") format("truetype"),
    url("#{$vg-icons-path}/voipgrid-icons.svg#voipgrid-icons") format("svg");

    font-weight: normal;
    font-style: normal;
}

.vg-icon-arrow-left:before {
    content: "\e908";
}

.vg-icon-arrow-right:before {
    content: "\e909";
}

.vg-icon-arrow-down:before {
    content: "\e902";
}

.vg-icon-arrow-up:before {
    content: "\e903";
}

.vg-icon-options:before {
    content: "\e62e";
}

.vg-icon-variable:before {
    content: "\e62b";
}

.vg-icon-variabledestination:before {
    content: "\e62d";
}

.vg-icon-setcallrecording:before {
    content: "\e612";
}

.vg-icon-extension:before {
    content: "\e628";
}

.vg-icon-variablecallername:before {
    content: "\e61e";
}

.vg-icon-listen:before {
    content: "\e600";
}

.vg-icon-filter:before {
    content: "\e601";
}

.vg-icon-fixeddestination:before {
    content: "\e602";
}

.vg-icon-jump:before {
    content: "\e603";
}

.vg-icon-calender:before {
    content: "\e604";
}

.vg-icon-call-person:before {
    content: "\e605";
}

.vg-icon-case:before {
    content: "\e606";
}

.vg-icon-click-to-dial:before {
    content: "\e607";
}

.vg-icon-clipboard:before {
    content: "\e608";
}

.vg-icon-conference:before {
    content: "\e609";
}

.vg-icon-callgroup:before {
    content: "\e60a";
}

.vg-icon-fax:before {
    content: "\e60b";
}

.vg-icon-outgoing-fax:before {
    content: "\e60c";
}

.vg-icon-crm-popup:before {
    content: "\e60d";
}

.vg-icon-folder-in:before {
    content: "\e60e";
}

.vg-icon-home:before {
    content: "\e60f";
}

.vg-icon-mail:before {
    content: "\e610";
}

.vg-icon-areagroup:before {
    content: "\e611";
}

.vg-icon-notition:before {
    content: "\e613";
}

.vg-icon-ivr:before {
    content: "\e614";
}

.vg-icon-paperclip:before {
    content: "\e615";
}

.vg-icon-person:before {
    content: "\e616";
}

.vg-icon-phone-dial-buttons:before {
    content: "\e617";
}

.vg-icon-phone-rings:before {
    content: "\e618";
}

.vg-icon-pick-up-group:before {
    content: "\e619";
}

.vg-icon-phone-mobile:before {
    content: "\e61a";
}

.vg-icon-recording:before {
    content: "\e61b";
}

.vg-icon-sound:before {
    content: "\e61c";
}

.vg-icon-tag:before {
    content: "\e61d";
}

.vg-icon-trashcan:before {
    content: "\e61f";
}

.vg-icon-user:before,
.vg-icon-userdestination:before {
    content: "\e620";
}

.vg-icon-voicemail:before {
    content: "\e621";
}

.vg-icon-phoneaccount:before {
    content: "\e622";
}

.vg-icon-trunkaccount:before {
    content: "\e623";
}

.vg-icon-musiconhold:before {
    content: "\e624";
}

.vg-icon-queue:before {
    content: "\e625";
}

.vg-icon-http:before {
    content: "\e626";
}

.vg-icon-sip-analysis:before {
    content: "\e627";
}

.vg-icon-areacode:before {
    content: "\e629";
}

.vg-icon-sounds:before {
    content: "\e62a";
}

.vg-icon-fixed-mobile:before {
    content: "\e62c";
}

.vg-icon-openinghours:before {
    content: "\e63e";
}

.vg-icon-call-record:before {
    content: "\e63f";
}

.vg-icon-caller-id:before {
    content: "\e640";
}

.vg-icon-play-audio:before {
    content: "\e641";
}

.vg-icon-pause-audio:before {
    content: "\e900";
}

.vg-icon-stop-audio:before {
    content: "\e901";
}

.vg-icon-previous:before {
    content: "\e904";
}

.vg-icon-next:before {
    content: "\e905";
}

.vg-icon-backward:before {
    content: "\e906";
}

.vg-icon-forward:before {
    content: "\e907";
}
