@font-face {
    font-family: 'voipgrid-icons';
    src:    url('fonts/voipgrid-icons.eot?3dacce');
    src:    url('fonts/voipgrid-icons.eot?3dacce#iefix') format('embedded-opentype'),
        url('fonts/voipgrid-icons.ttf?3dacce') format('truetype'),
        url('fonts/voipgrid-icons.woff?3dacce') format('woff'),
        url('fonts/voipgrid-icons.svg?3dacce#voipgrid-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="vg-icon-"], [class*=" vg-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'voipgrid-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.vg-icon-user:before {
    content: "\e620";
}
.vg-icon-listen:before {
    content: "\e600";
}
.vg-icon-filter:before {
    content: "\e601";
}
.vg-icon-phone-forwarding:before {
    content: "\e602";
}
.vg-icon-jump:before {
    content: "\e603";
}
.vg-icon-calender:before {
    content: "\e604";
}
.vg-icon-call-me:before {
    content: "\e605";
}
.vg-icon-case:before {
    content: "\e606";
}
.vg-icon-click-to-dial:before {
    content: "\e607";
}
.vg-icon-clipboard:before {
    content: "\e608";
}
.vg-icon-conference:before {
    content: "\e609";
}
.vg-icon-dialgroup:before {
    content: "\e60a";
}
.vg-icon-fax-in:before {
    content: "\e60b";
}
.vg-icon-fax-out:before {
    content: "\e60c";
}
.vg-icon-folder_client:before {
    content: "\e60d";
}
.vg-icon-folder_in:before {
    content: "\e60e";
}
.vg-icon-home:before {
    content: "\e60f";
}
.vg-icon-mail:before {
    content: "\e610";
}
.vg-icon-netnumber-group:before {
    content: "\e611";
}
.vg-icon-recording:before {
    content: "\e612";
}
.vg-icon-note:before {
    content: "\e613";
}
.vg-icon-optionmenu:before {
    content: "\e614";
}
.vg-icon-paperclip:before {
    content: "\e615";
}
.vg-icon-person:before {
    content: "\e616";
}
.vg-icon-phone-number:before {
    content: "\e617";
}
.vg-icon-phone-rings:before {
    content: "\e618";
}
.vg-icon-pickup-group:before {
    content: "\e619";
}
.vg-icon-solid-mobile:before {
    content: "\e61a";
}
.vg-icon-sound-notition:before {
    content: "\e61b";
}
.vg-icon-sounds:before {
    content: "\e61c";
}
.vg-icon-tag:before {
    content: "\e61d";
}
.vg-icon-variablecallername:before {
    content: "\e61e";
}
.vg-icon-trashcan:before {
    content: "\e61f";
}
.vg-icon-voicemail:before {
    content: "\e621";
}
.vg-icon-voipaccount:before {
    content: "\e622";
}
.vg-icon-voiptrunk:before {
    content: "\e623";
}
.vg-icon-wait-music:before {
    content: "\e624";
}
.vg-icon-waitingline:before {
    content: "\e625";
}
.vg-icon-webhook:before {
    content: "\e626";
}
.vg-icon-sip-analysis:before {
    content: "\e627";
}
.vg-icon-extension:before {
    content: "\e628";
}
.vg-icon-areacode:before {
    content: "\e629";
}
.vg-icon-sounds2:before {
    content: "\e62a";
}
.vg-icon-variable:before {
    content: "\e62b";
}
.vg-icon-fixed-mobile:before {
    content: "\e62c";
}
.vg-icon-variable2:before {
    content: "\e62d";
}
.vg-icon-options:before {
    content: "\e62e";
}
.vg-icon-openinghours:before {
    content: "\e63e";
}
.vg-icon-call-record:before {
    content: "\e63f";
}
.vg-icon-caller-id:before {
    content: "\e640";
}
.vg-icon-play:before {
    content: "\e641";
}
.vg-icon-pause:before {
    content: "\e901";
}
.vg-icon-stop:before {
    content: "\e902";
}
.vg-icon-arrow-down:before {
    content: "\e903";
}
.vg-icon-arrow-up:before {
    content: "\e904";
}
.vg-icon-previous:before {
    content: "\e905";
}
.vg-icon-next:before {
    content: "\e906";
}
.vg-icon-backward:before {
    content: "\e907";
}
.vg-icon-forward:before {
    content: "\e908";
}
.vg-icon-arrow-left:before {
    content: "\e909";
}
.vg-icon-arrow-right:before {
    content: "\e90a";
}

