.icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	fill: currentColor;
}
.icon-caller-id {
	/*fill: #000000;*/
}
.icon-phonenumber {
	/*fill: #000000;*/
}
.icon-voip-account {
	/*fill: #000000;*/
}
.icon-callgroup {
	/*fill: #000000;*/
}
.icon-fixed-mobile {
	/*fill: #000000;*/
}
.icon-voicemail {
	/*fill: #000000;*/
}
.icon-sounds {
	/*fill: #000000;*/
}
.icon-opening-hours {
	/*fill: #000000;*/
}
.icon-messages {
	/*fill: #000000;*/
}
.icon-music-on-hold {
	/*fill: #000000;*/
}
.icon-fax-inbound {
	/*fill: #000000;*/
}
.icon-fax-outbound {
	/*fill: #000000;*/
}
.icon-ivr {
	/*fill: #000000;*/
}
.icon-queue {
	/*fill: #000000;*/
}
.icon-conference-call {
	/*fill: #000000;*/
}
.icon-pickup-group {
	/*fill: #000000;*/
}
.icon-listen-in {
	/*fill: #000000;*/
}
.icon-filter {
	/*fill: #000000;*/
}
.icon-area-group {
	/*fill: #000000;*/
}
.icon-area-routing {
	/*fill: #000000;*/
}
.icon-voip-trunk {
	/*fill: #000000;*/
}
.icon-sip-analysis {
	/*fill: #000000;*/
}
.icon-call-me-now {
	/*fill: #000000;*/
}
.icon-http-routing {
	/*fill: #000000;*/
}
.icon-klik-en-bel {
	/*fill: #000000;*/
}
.icon-call-record {
	/*fill: #000000;*/
}
